In [1]:
'HelloMike'.split()

['HelloMike']

In [4]:
"Hello Mike".split()

['Hello', 'Mike']

In [5]:
type(set([1,2,3]))

set

In [1]:
L=[1,3,2]
sorted(L)

[1, 2, 3]

In [2]:
def add1(a):
    b=a+1
    return b

In [3]:
help(add1)

Help on function add1 in module __main__:

add1(a)

In [4]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [5]:
def mult(a,b):
    '''
    This is to multiple a * b
    '''
    b=a*b
    return b

In [6]:
help(mult)

Help on function mult in module __main__:

mult(a, b)
    This is to multiple a * b

In [7]:
2*"AA"

'AAAA'

In [8]:
def nowork()

SyntaxError: invalid syntax (<ipython-input-8-f0123acf07fc>, line 1)

In [9]:
def nowork()
    pass

SyntaxError: invalid syntax (<ipython-input-9-c199b676fa25>, line 1)

In [10]:
def nowork()

SyntaxError: invalid syntax (<ipython-input-10-f0123acf07fc>, line 1)

In [11]:
def nowork():

SyntaxError: unexpected EOF while parsing (<ipython-input-11-29799716cc45>, line 1)

In [12]:
def nowork():
    pass

In [13]:
print(nowork)

<function nowork at 0x000001BF49BE3A60>

In [14]:
print(nowork())

None

In [15]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [17]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [18]:
dir(len)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [20]:
def add(a,b):
    return(a+b)

In [21]:
add(2,3)

5

In [2]:
import pandas as pd
data_dic={'aa':'aaaaaaaaaaaaaaaa','bb':'bbbbbbbbbbbbbbbbb','cc':'ccccccccccccccccccc'}
#pd_tbl=pd.DataFrames(data_dic)
#pd_tbl.Head()
data_dic

{'aa': 'aaaaaaaaaaaaaaaa',
 'bb': 'bbbbbbbbbbbbbbbbb',
 'cc': 'ccccccccccccccccccc'}

In [3]:
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = 'db08276bc116c438d3fdee492026f8223584c477'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    1.1.3

FILE
    c:\users\admin\anaconda3\lib\site-packages\pandas\__init__.py

In [4]:
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
print(pd.DataFrame(my_series))

                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels

In [38]:
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
my_dict = {'aa':['1','2','3','4','3'],'bb':['4','5','6','7','3'],'cc':['7','8','9','0','3']}
print(pd.DataFrame(my_dict))

  aa bb cc
0  1  4  7
1  2  5  8
2  3  6  9
3  4  7  0
4  3  3  3

In [9]:
print(pd.DataFrame(my_dict))

  aa bb cc
0  1  4  7
1  2  5  8
2  3  6  9
3  4  7  0

In [12]:
print(pd.DataFrame([['dd']]))

    0
0  dd

In [39]:
df=pd.DataFrame(my_dict)

In [40]:
df

  aa bb cc
0  1  4  7
1  2  5  8
2  3  6  9
3  4  7  0
4  3  3  3

In [22]:
x=df[['bb']]
x

  bb
0  4
1  5
2  6
3  7

In [30]:
df1=pd.DataFrame({"U":["London","ABC"], "I":["New Delhi",''], "US":["Washington",''], "B":["Brussels",'']})
df1

        U          I          US         B
0  London  New Delhi  Washington  Brussels
1     ABC

In [32]:
y=df1[['U','B']]
y

        U         B
0  London  Brussels
1     ABC

In [33]:
df['aa']

0    1
1    2
2    3
3    4
Name: aa, dtype: object

In [41]:
df[['aa']]

  aa
0  1
1  2
2  3
3  4
4  3

In [42]:
df['aa'].unique()

array(['1', '2', '3', '4'], dtype=object)

In [49]:
df['aa']>'3'

0    False
1    False
2    False
3     True
4    False
Name: aa, dtype: bool

In [50]:
df2=df[df['aa']>'3']
df2

  aa bb cc
3  4  7  0

In [51]:
df

  aa bb cc
0  1  4  7
1  2  5  8
2  3  6  9
3  4  7  0
4  3  3  3

In [53]:
df2=df[df['aa']>='3']
df2

  aa bb cc
2  3  6  9
3  4  7  0
4  3  3  3

In [55]:
df2.to_csv('new_dataframe.csv')

In [56]:
df.to_csv('new_dataframe.csv')