In [1]:
print('Hello World')

Hello World

Index - each charter in the string using index value
        Character: h  e  l  l  o
            index: 0  1  2  3  4
    Reverse Index: 0 -4 -3 -2 -1

slice : [start:stop(not included):step]

In [2]:
'hello'

'hello'

In [3]:
'this is one string'

'this is one string'

In [4]:
"I'am going to run"

"I'am going to run"

In [5]:
'I"am goint to sleep'

'I"am goint to sleep'

In [6]:
print('hello /n world')

hello /n world

In [7]:
print("hello /n world")

hello /n world

In [8]:
print('hello \n world')

hello
 world

In [10]:
print ('hello \nworld')

hello
world

In [11]:
print('hello \tworld')

hello 	world

In [12]:
len('hello')

5

In [13]:
len('1 am')

4

In [1]:
mystr = 'Hello World'

In [2]:
mystr

'Hello World'

In [3]:
mystr[0]

'H'

In [4]:
mystr[-1]

'd'

In [5]:
mystr[-2]

'l'

In [6]:
mystr='abcdefghijk'

In [7]:
mystr

'abcdefghijk'

In [8]:
mystr[3:]

'defghijk'

In [9]:
mystr[:-3]

'abcdefgh'

In [10]:
mystr[3:-3]

'defgh'

In [11]:
mystr[::]

'abcdefghijk'

In [12]:
mystr[::1]

'abcdefghijk'

In [13]:
mystr[::2]

'acegik'

In [14]:
mystr[::3]

'adgj'

In [15]:
mystr[::-1]

'kjihgfedcba'

In [16]:
 'abcd'[:2]

'ab'

Immutability - can not change the value of the string
'# is to commmect tthe code

In [17]:
xname='Sam'

In [18]:
xname[0]='P'

TypeError: 'str' object does not support item assignment

In [19]:
lstname=xname[1:]

In [20]:
lstname

'am'

In [21]:
'P'+lstname

'Pam'

In [22]:
mletter='z'

In [23]:
mletter*10

'zzzzzzzzzz'

In [24]:
2+3

5

In [25]:
'2'+'3'

'23'

String attributes / properties / methods

In [26]:
x='hello world'

In [27]:
x.upper

In [28]:
x.upper()

'HELLO WORLD'

In [29]:
x.split()

['hello', 'world']

In [30]:
x='Hi this is a string'

In [31]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [32]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [33]:
x.capitalize()

'Hi this is a string'

In [34]:
x.isupper()

False

In [35]:
x.title()

'Hi This Is A String'

In [36]:
x.swapcase()

'hI THIS IS A STRING'

String Interpolation - insert a string within a string. How are you Mr <> today.

2 Methods
1 : .format() and 
2 : f-strings

How to insert text with in the string?

In [2]:
print('The {} {} {}'.format('quick','brown','fox'))

The quick brown fox

In [3]:
print('The {0} {1} {2}'.format('quick','brown','fox'))

The quick brown fox

In [4]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [5]:
print('This rounded float number is {r}.format(r=104/25)')

This rounded float number is {r}.format(r=104/25)

In [6]:
fltnumber = 104/53

In [7]:
fltnumber

1.9622641509433962

In [8]:
print('The rounded float number is {r}'.format(r=fltnumber))

The rounded float number is 1.9622641509433962

In [9]:
print('The rounded float number is {r:1.2f}'.format(r=fltnumber))

The rounded float number is 1.96

In [16]:
name = "Sam"
age = 3

In [17]:
print(f'{name} is {age} old')

Sam is 3 old

In [1]:
my_list = ['a','b','c']

In [2]:
my_list.append('d')

In [3]:
my_list

['a', 'b', 'c', 'd']

In [4]:
my_list.pop()

'd'

In [5]:
my_list

['a', 'b', 'c']

In [6]:
my_list.append('d')

In [7]:
my_list

['a', 'b', 'c', 'd']

In [8]:
my_list.pop(2)

'c'

In [9]:
my_list

['a', 'b', 'd']

In [10]:
my_list = [3,1,6,3,88,5,2,4,56,7,3,65,3,35,7,7,4,4,6,3,3,5,6]

In [11]:
my_list.sort()

In [12]:
my_list

[1, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 7, 35, 56, 65, 88]

In [13]:
my_list[7:]

[3, 4, 4, 4, 5, 5, 6, 6, 6, 7, 7, 7, 35, 56, 65, 88]

In [14]:
my_list[2:7]

[3, 3, 3, 3, 3]

In [15]:
my_list.reverse()

In [16]:
my_list

[88, 65, 56, 35, 7, 7, 7, 6, 6, 6, 5, 5, 4, 4, 4, 3, 3, 3, 3, 3, 3, 2, 1]

In [17]:
my_list[2:6]

[56, 35, 7, 7]

In [18]:
my_list=[1,1,[1,2]]

In [19]:
my_list

[1, 1, [1, 2]]

In [20]:
my_list[2]

[1, 2]

In [21]:
my_list[2[1]]

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<ipython-input-21-2a0b8315c1ca>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  my_list[2[1]]

TypeError: 'int' object is not subscriptable

In [22]:
my_list[2(1)]

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<ipython-input-22-6906e03ae393>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  my_list[2(1)]

TypeError: 'int' object is not callable

In [23]:
my_list[2.1]

TypeError: list indices must be integers or slices, not float

In [24]:
my_list[2]

[1, 2]

In [25]:
my_list2=my_list[2]

In [26]:
my_list2

[1, 2]

In [27]:
my_list2[1]

2

In [28]:
my_list[2[0]]

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<ipython-input-28-ea1785a99937>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  my_list[2[0]]

TypeError: 'int' object is not subscriptable

In [29]:
my_list[2][1]

2

In [30]:
lst=[0,1,2]

In [31]:
lst.pop()

2

In [32]:
lst

[0, 1]

In [33]:
lst=['a','b','c']

In [34]:
lst[1:]

['b', 'c']

In [35]:
my_dict={'name':'Tom','age':20}

In [36]:
my_dict

{'name': 'Tom', 'age': 20}

In [37]:
my_dict.keys()

dict_keys(['name', 'age'])

In [38]:
my_dict.values()

dict_values(['Tom', 20])

In [39]:
my_dict.items()

dict_items([('name', 'Tom'), ('age', 20)])

In [40]:
my_dict['name']

'Tom'

In [41]:
my_dict['hobby']='swim'

In [42]:
my_dict

{'name': 'Tom', 'age': 20, 'hobby': 'swim'}

In [43]:
my_dict['hobby']=['swim','sing','read']

In [44]:
my_dict

{'name': 'Tom', 'age': 20, 'hobby': ['swim', 'sing', 'read']}

In [45]:
my_dict['hobby'][1]

'sing'

In [46]:
my_dict['name']

'Tom'

In [1]:
t = ('a','a',2,3)

In [2]:
t

('a', 'a', 2, 3)

In [3]:
t.count('a')

2

In [4]:
t.index('a')

0

In [5]:
t[0]=1

TypeError: 'tuple' object does not support item assignment

In [6]:
lst=[1,2,3]

In [7]:
lst

[1, 2, 3]

In [8]:
type(t)

tuple

In [9]:
type(lst)

list

In [10]:
myset=set()

In [11]:
myset.add(1)

In [12]:
myset

{1}

In [13]:
myset.add(2)

In [14]:
myset

{1, 2}

In [15]:
myset = [3,3,2,1,3,2,1,1,1,2,2,3,4,4,5,6,7,7]

In [16]:
myset

[3, 3, 2, 1, 3, 2, 1, 1, 1, 2, 2, 3, 4, 4, 5, 6, 7, 7]

In [17]:
set(myset)

{1, 2, 3, 4, 5, 6, 7}

In [18]:
myset=['d','b','b','a','a','d','c','a','c']

In [19]:
set(myset)

{'a', 'b', 'c', 'd'}

In [20]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [21]:
b

NameError: name 'b' is not defined

In [22]:
b=none

NameError: name 'none' is not defined

In [23]:
b=None

In [24]:
b

In [25]:
1>2

False

In [26]:
type(False)

bool

In [27]:
set([1,1,2,3])

{1, 2, 3}

In [28]:
pwd

'C:\\Users\\admin\\Documents\\Python Scripts\\Python Projects'

In [29]:
%%writefile test.txt
This is my first file

Writing test.txt

In [30]:
myfile=open('test.txt')

In [31]:
myfile

In [32]:
pwd

'C:\\Users\\admin\\Documents\\Python Scripts\\Python Projects'

In [33]:
myfile.read

In [34]:
myfile.readlines()

['This is my first file\n']

In [35]:
myfile.read()

''

In [36]:
myfile.readlines()

[]

In [37]:
myfile=open('test.txt')

In [38]:
myfile.read()

'This is my first file\n'

In [39]:
myfile=open('test.txt')

In [40]:
myfile.write('This is second line')

UnsupportedOperation: not writable

In [41]:
myfile.newlines()

TypeError: 'NoneType' object is not callable

In [42]:
myfile.seek(0)

0

In [43]:
myfile.read()

'This is my first file\n'

In [44]:
myfile.close()

In [45]:
with open('test.txt') as my_newfile:
    fileinfo=my_newfile.read()

In [46]:
fileinfo

'This is my first file\n'

In [47]:
myfile=open('test.txt')

In [48]:
myfile.truncate()

UnsupportedOperation: File not open for writing

In [49]:
with open('test.txt',mode='w') as f:
    f.write('1 one /n2 two /n3 three')

In [50]:
with open('test.txt') as f:
    print(f.read())

1 one /n2 two /n3 three

In [51]:
with open('test.txt',mode='r') as f:
    print(f.readline())

1 one /n2 two /n3 three

In [52]:
with open('test.txt',mode='a') as f:
    f.write('\n4 four')

In [53]:
with open('test.txt',mode='r') as f:
    print(f.read())

1 one /n2 two /n3 three
4 four

In [1]:
lst1=[1,2,['a','b','c'],('1','2','3'),3,12.4]

In [2]:
lst1

[1, 2, ['a', 'b', 'c'], ('1', '2', '3'), 3, 12.4]

In [3]:
lst1=lst1+(2,3,4)

TypeError: can only concatenate list (not "tuple") to list

In [4]:
tpl=(1,2,3)

In [5]:
tpl

(1, 2, 3)

In [6]:
tp1=(11,22,33,[1,2,3])

In [7]:
tp1

(11, 22, 33, [1, 2, 3])

In [8]:
tp1[3][1]

2

In [9]:
del(tp1[2])

TypeError: 'tuple' object doesn't support item deletion